#topo {
  position: relative;
  background-color: rgb(28, 216, 87);
  text-align: center;
  height: 100px;
  width: 1000px;
}

#le {
  position: relative;
  background-color: rgb(73, 83, 146);
  width: 1000px;
  height: 600px;
}

#conteudo {
  position: absolute;
  top: 108px;
  left: 150px;
  background-color: grey;
  width: 650px;
  height: 600px;
}

#imagem {
  position: absolute;
  top: 535px;
  left: 660px;
}

#caixa1 {
  position: absolute;
  top: 109px;
  left: 802px;
  height: 200px;
  width: 202px;
  background-color: rgb(255, 255, 255);
  color: white;
}

#caixa2 {
  position: absolute;
  top: 315px;
  left: 802px;
  height: 200px;
  width: 202px;
  background-color: rgb(255, 255, 255);
  color: white;
}

#Rodape {
  position: absolute;
  background-color: rgb(41, 237, 208);
  top: 700px;
  height: 30px;
  width: 1000px;
}
